In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
#Load the csv exported in WeatherPy to a DataFrame
cities_csv = "output_data/cities.csv"
cities_df = pd.read_csv(cities_csv)
cities_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,clarence town,42.9767,-78.5920,10.99,80,23,1.99,US,1613098309
1,1,tasiilaq,65.6145,-37.6368,19.40,73,75,26.46,GL,1613098309
2,2,puerto ayora,36.5939,-6.2330,60.80,88,75,9.22,ES,1613098310
3,3,acapulco,16.8634,-99.8901,77.00,78,1,6.91,MX,1613098220
4,4,trat,12.5000,102.5000,86.00,47,0,6.91,TH,1613098310

In [12]:
#Humidity Heatmap
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df['Humidity'].astype(int)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#Create new DataFrame fitting weather criteria
weather_cities_df = cities_df.copy()
weather_cities_df = weather_cities_df[weather_cities_df['Max Temp'] >= 70]
weather_cities_df = weather_cities_df[weather_cities_df['Max Temp'] <= 80]  
weather_cities_df = weather_cities_df[weather_cities_df['Wind Speed'] <= 10]
weather_cities_df = weather_cities_df[weather_cities_df['Cloudiness'] == 0]
weather_cities_df = weather_cities_df.dropna()
weather_cities_df = weather_cities_df.reset_index()
weather_cities_df

,index,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,108,108,bandiagara,14.3501,-3.6104,76.86,16,0,9.57,ML,1613098330
1,117,117,atuona,-9.8000,-139.0333,79.59,74,0,9.91,PF,1613098332
2,200,200,san patricio,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201
3,212,212,san carlos de bariloche,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118
4,243,243,yaan,7.3833,8.5667,73.71,78,0,4.97,NG,1613098357
5,270,270,tezu,27.9167,96.1667,75.36,20,0,2.48,IN,1613098361
6,348,348,tecoanapa,16.5167,-98.7500,75.31,83,0,6.80,MX,1613098376
7,352,352,san pedro,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118
8,357,357,san quintin,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118
9,360,360,mbandaka,0.0487,18.2603,75.78,66,0,3.33,CD,1613098378
10,428,428,san nicolas,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201
11,438,438,san alberto,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118
12,454,454,phan thiet,19.5539,99.7405,70.00,88,0,2.30,TH,1613098397
13,474,474,guarapari,-20.6667,-40.4975,77.00,83,0,3.44,BR,1613098401
14,480,480,mecca,21.4267,39.8261,71.42,65,0,0.56,SA,1613098402
15,499,499,macapa,0.0389,-51.0664,77.00,94,0,2.30,BR,1613098353
16,503,503,pedernales,18.0384,-71.7440,75.97,58,0,9.60,DO,1613098407
17,506,506,san cristobal,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201

In [14]:
#Hotel Map
# create hotel_df with hotel name column
hotel_df = weather_cities_df
hotel_df["Hotel Name"] = np.nan
hotel_df = hotel_df.drop(columns='index')
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,108,bandiagara,14.3501,-3.6104,76.86,16,0,9.57,ML,1613098330,NaN
1,117,atuona,-9.8000,-139.0333,79.59,74,0,9.91,PF,1613098332,NaN
2,200,san patricio,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201,NaN
3,212,san carlos de bariloche,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,NaN
4,243,yaan,7.3833,8.5667,73.71,78,0,4.97,NG,1613098357,NaN
5,270,tezu,27.9167,96.1667,75.36,20,0,2.48,IN,1613098361,NaN
6,348,tecoanapa,16.5167,-98.7500,75.31,83,0,6.80,MX,1613098376,NaN
7,352,san pedro,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,NaN
8,357,san quintin,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,NaN
9,360,mbandaka,0.0487,18.2603,75.78,66,0,3.33,CD,1613098378,NaN
10,428,san nicolas,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201,NaN
11,438,san alberto,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,NaN
12,454,phan thiet,19.5539,99.7405,70.00,88,0,2.30,TH,1613098397,NaN
13,474,guarapari,-20.6667,-40.4975,77.00,83,0,3.44,BR,1613098401,NaN
14,480,mecca,21.4267,39.8261,71.42,65,0,0.56,SA,1613098402,NaN
15,499,macapa,0.0389,-51.0664,77.00,94,0,2.30,BR,1613098353,NaN
16,503,pedernales,18.0384,-71.7440,75.97,58,0,9.60,DO,1613098407,NaN
17,506,san cristobal,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201,NaN

In [15]:
#search googleplaces for hotels within 5000 meters
#list for hotel names
hotels = []
#checker variable
x = 0

# for loop to search through city coords
for cities in hotel_df['City']:
    target_coordinates = str(hotel_df['Lat'][x])+' , '+str(hotel_df['Lng'][x])
    x+=1
    target_radius = 5000
    target_type = 'lodging'
    params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# try/except to check if a city turns up    
    try:
        response = requests.get(base_url, params=params)
        hotel_results = response.json()
        hotels.append(hotel_results['results'][0]['name'])
        
    except IndexError:
        hotels.append(np.nan)

#append dataframe with hotel names
hotel_df['Hotel Name'] = hotels
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,108,bandiagara,14.3501,-3.6104,76.86,16,0,9.57,ML,1613098330,Hotel de la Falaise
1,117,atuona,-9.8000,-139.0333,79.59,74,0,9.91,PF,1613098332,Villa Enata
2,200,san patricio,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201,Hôtel Teriya
3,212,san carlos de bariloche,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,Hôtel Teriya
4,243,yaan,7.3833,8.5667,73.71,78,0,4.97,NG,1613098357,NaN
5,270,tezu,27.9167,96.1667,75.36,20,0,2.48,IN,1613098361,Circuit House
6,348,tecoanapa,16.5167,-98.7500,75.31,83,0,6.80,MX,1613098376,Hotel Manglares
7,352,san pedro,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,Hôtel Teriya
8,357,san quintin,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,Hôtel Teriya
9,360,mbandaka,0.0487,18.2603,75.78,66,0,3.33,CD,1613098378,Guest House Epervier
10,428,san nicolas,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201,Hôtel Teriya
11,438,san alberto,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,Hôtel Teriya
12,454,phan thiet,19.5539,99.7405,70.00,88,0,2.30,TH,1613098397,M Place
13,474,guarapari,-20.6667,-40.4975,77.00,83,0,3.44,BR,1613098401,Hotel Porto do Sol
14,480,mecca,21.4267,39.8261,71.42,65,0,0.56,SA,1613098402,"Makkah Clock Royal Tower, A Fairmont Hotel"
15,499,macapa,0.0389,-51.0664,77.00,94,0,2.30,BR,1613098353,Atalanta Hotel
16,503,pedernales,18.0384,-71.7440,75.97,58,0,9.60,DO,1613098407,Hotel Costa Marina
17,506,san cristobal,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201,Hôtel Teriya

In [16]:
#clean up DataSet by remooving NAN
hotel_df_clean = hotel_df.dropna()
hotel_df_clean

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,108,bandiagara,14.3501,-3.6104,76.86,16,0,9.57,ML,1613098330,Hotel de la Falaise
1,117,atuona,-9.8000,-139.0333,79.59,74,0,9.91,PF,1613098332,Villa Enata
2,200,san patricio,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201,Hôtel Teriya
3,212,san carlos de bariloche,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,Hôtel Teriya
5,270,tezu,27.9167,96.1667,75.36,20,0,2.48,IN,1613098361,Circuit House
6,348,tecoanapa,16.5167,-98.7500,75.31,83,0,6.80,MX,1613098376,Hotel Manglares
7,352,san pedro,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,Hôtel Teriya
8,357,san quintin,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,Hôtel Teriya
9,360,mbandaka,0.0487,18.2603,75.78,66,0,3.33,CD,1613098378,Guest House Epervier
10,428,san nicolas,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201,Hôtel Teriya
11,438,san alberto,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098118,Hôtel Teriya
12,454,phan thiet,19.5539,99.7405,70.00,88,0,2.30,TH,1613098397,M Place
13,474,guarapari,-20.6667,-40.4975,77.00,83,0,3.44,BR,1613098401,Hotel Porto do Sol
14,480,mecca,21.4267,39.8261,71.42,65,0,0.56,SA,1613098402,"Makkah Clock Royal Tower, A Fairmont Hotel"
15,499,macapa,0.0389,-51.0664,77.00,94,0,2.30,BR,1613098353,Atalanta Hotel
16,503,pedernales,18.0384,-71.7440,75.97,58,0,9.60,DO,1613098407,Hotel Costa Marina
17,506,san cristobal,13.3034,-4.8956,74.95,17,0,8.43,ML,1613098201,Hôtel Teriya

In [17]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_clean.iterrows()]
locations = hotel_df_clean[["Lat", "Lng"]]

In [19]:
# Add marker layer ontop of heat map and display
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))